<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{@site.url}}">
            {{#if @site.icon}}
                <img src="{{@site.icon}}" alt="{{@site.title}} icon" />
            {{/if}}
            <span>{{@site.title}}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{title}}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">分享文章 {{> "icons/point"}}</div>
        <div class="social-share" data-sites="wechat,weibo,qzone,qq"></div>
    </div>
    <progress id="reading-progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
